# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
dist/
build/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Streamlit folder created during execution
streamlit/

# Config and secret credentials
config.yaml
*.pem
*.key

# Environment configuration
.venv
